body{
    margin: auto;
}


/* Navbar Section */
#navbar{
    width: 100%;
    height: 50px;
    background-color: chocolate;
}


/* About Me Section */
#about-me{
    
}


/* Skills Section */
#skills{
    
}


/* Location Section */
#location{
    
}


/* Contact Section */
#contact{
    
}

/* Footer Section */
#footer{
    
}