html {
    scroll-behavior: smooth;
}


body {
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'DM Sans', sans-serif;
    font-size: larger;
}
h1{
    font-size: 48px;
    text-decoration: underline;
}
label{
    font-family: 'DM Sans', sans-serif;
    font-size: larger;
}

/* Navbar Section */
#navbar {
    width: 100%;
    height: 80px;
    background-color: #85b6e4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;}
#name > a{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Water Brush', cursive;
    text-decoration: underline;
}
#details a{
    font-size: 20px;
    text-decoration: underline;
}

#name {
    width: 50%;
    margin: 10%;
}

#details {
    width: 40%;
    display: flex;
    flex-direction: row;
    margin: 2%;
    gap: 10%;
}

/* Home Section */
#home {
    width: 100%;
    height: 700px;
    /* border: 2px solid black; */
    text-align: center;
}

#home > h1{
    font-family: 'Tapestry', cursive;
    
}

#image {
    border-radius: 50px;
    height: 250px;
    width: 220px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
#intro{
    width: 60%;
    margin: auto;
}

#resume-a{
    background-color: #85b6e4;
    padding: 10px;
    font-size: 20px;
    border-radius: 40px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/* About Me Section */
#about-me {
    height: 700px;
    width: 100%;
    /* border: 2px solid black; */
    text-align: center;

}

#about-me-cont {
    display: flex;
    gap: 10%;
    align-items: center;
}


/* Skills Section */
#skills {
    height: 700px;
    width: 100%;
    /* border: 2px solid black; */
    text-align: center;
}

#all-skills{
    width: 80%;
    height: 500px;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-auto-rows: 50% 50%;
    grid-gap: 1%;
    align-content: space-around;
    align-items: stretch;
    justify-content: space-around;
}

.skill-card{
    height: 200px;
    width: 200px;
    background-color: #85b6e4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.skill-card > img{
    height: 125px;
    width: 125px;
    border-radius: 10px;
}


/* Location Section */
#location {
    height: 700px;
    width: 100%;
    /* border: 2px solid black; */
    text-align: center;
}
#location iframe{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 10px;
}

/* Contact Section */
#contact{
    width: 100%;
    height: 650px;
    /* border: 2px solid black; */
    text-align: center;
}
#contact-form{
    text-align: left;
    margin: auto;
    width: 30%;
    display: inline-block;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: #85b6e4;
}
#contact-form textarea{
    width: 100%;
    height: 150px;
    border: 1px solid black;
    border-radius: 10px;
}
#contact-form>input{
    width: 100%;
    height: 30px;
    border-radius: 15px;
    border: 1px solid black;
}
#contact > button{
    margin-top: 30px;
    cursor: pointer;
    padding: 10px;
    background-color: #85b6e4;
    border: none;
    font-size: large;
    width: 100px;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#contact > textarea{
    border: 1px solid #85b6e4;
}

/* Footer Section */
#footer {
    height: 100px;
    width: 100%;
    /* border: 2px solid black; */
    text-align: center;
}
.footer-icon{
    width: 30px;
    height: 30px;
    margin: 10px;
}
#footer > h3{
    margin-top: 0;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}


@media screen and (min-width: 480px) {
    #about-me-cont {
        width: 80%;
        flex-direction: column;
        margin: auto;
        gap: 100px;
    }
    #about-me {
        height: 1000px;
    }
    #all-skills{
        width: 80%;
        height: 1000px;
        margin: auto;
        text-align: center;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-auto-rows: 220px 220px 220px 220px;
        grid-gap: 1%;
        align-content: space-around;
        align-items: stretch;
        justify-content: center;
    }
    #skills {
        height: 1500px;
        width: 100%;
        /* border: 2px solid black; */
        text-align: center;
    }
    .skill-card{
        margin: auto;
    }
    #contact-form{
        width: 60%;
    }
  }