html {
    scroll-behavior: smooth;
  }


body{
    margin: auto;
}


/* Navbar Section */
#navbar{
    width: 100%;
    height: 50px;
    background-color: chocolate;
}


/* About Me Section */
#about-me{
    height: 500px;
    width: 100%;
    border: 2px solid black;
}


/* Skills Section */
#skills{
    height: 400px;
    width: 100%;
    border: 2px solid black;
}


/* Location Section */
#location{
    height: 400px;
    width: 100%;
    border: 2px solid black;
}


/* Contact Section */
#contact{
    height: 400px;
    width: 100%;
    border: 2px solid black;
}

/* Footer Section */
#footer{
    height: 100px;
    width: 100%;
    border: 2px solid black;
}